*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header{
  z-index: 200;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5rem;
  background: linear-gradient(to right, #fa2424,#fa8924,#faf224,
    #24fa33,#1581fb,#0a7432,#c915f6);
  width: 100%;
  box-sizing: border-box;
}
header .logo a img{
  height: 5rem;
  float: left;
  font-weight: bold;
}
header nav{
  float: right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  position: relative;
}
header nav ul li.sub-menu:before{
  content: '\f0d7';
  font-family: fontAwesome;
  position: absolute;
  line-height: 5rem;
  color: #fff;
  right: 0.5rem;
}
header nav ul li.active.sub-menu:before{
  content: '\f0d8';
}
header nav ul li ul{
  position: absolute;
  left: 0;
  background: linear-gradient(#fa2424,#c915f6);
  display: none;
}
header nav ul li.active ul{
  display: block;
}
header nav ul li ul li{
  display: block;
}
header nav ul li ul li a{
  width: 7rem;
  height: 3rem;
  line-height: 3rem;
}
header nav ul li a{
  height: 5rem;
  line-height: 5rem; 
  padding: 0 1.2rem;
  text-decoration:none;
  color: #fff;
  display: block;
}
header nav ul li a:hover{
  color: #fa313f;
  background: #c7bcbd;
}
.menu-toggle{
  float: right;
  color: #fff;
  line-height: 5rem;
  cursor: pointer;
  font-size: 2rem;
  display: none;
}
.search-container {
  float: right;
  border-color: #ff02f0;
  boder:1rem;
  }
.search-container input[type=text] {
  width: 10rem;
  padding: 0.6rem;
  border-color: #ff02f0;
  boder:1rem;
  border-radius: 1rem 0rem 0rem 1rem;
}
.search-container input[type=text]:hover{
  width: 20rem;
  transition: 1s;
  box-shadow: 0px 0px 1rem #24f2fa;
}
.search-container button {
  float: right;
  padding: 0.6rem 1rem;
  background: #ddd;
  boder:1rem;
  border-color: #ff02f0;
  cursor: pointer;
  border-radius: 0rem 1rem 1rem 0rem;
}
.search-container button:hover {
  background: #ff000c;
  box-shadow: 0px 0px 1rem #24f2fa;
}
.run-text{
  width: 100%;
  direction: left;
  padding-top: 5rem;
}
.run-text strong{
  color: #fd2727;
  text-shadow: 0px 0px 0.1rem #2754fd;
}
.run-text strong:hover{
  color: #31fd27;
  text-shadow: 0px 0px 0.1rem #fd2727;
}
/* Fading animation */
.fade-banner {
  -webkit-animation-name: fade-banner;
  -webkit-animation-duration: 1.5s;
  animation-name: fade-banner;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade-banner {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade-banner {
  from {opacity: .4} 
  to {opacity: 1}
}
.mySlides {
  display: none;
}
.slideshow-container {
  z-index: 1;
  margin-top: 0rem;
  margin-right: 1rem;
  width: 100%;
}
.slideshow-container h1{
  clear: left;
  text-align: center;
  color: #8e6d77;
  padding: 1rem 0;
}
.slideshow-container img{
  height: 30rem;
}
/* Caption text */
.text {
  color: #f2f2f2;
  width: 100%;
  text-align: center;
  margin-top: -2rem;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  margin-top: 1rem;
  padding-left: 1rem;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  height: 1rem;
  width: 1rem;
  margin: 0 0.3rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active{
  background-color: #fb2121;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.look-after:hover .overlay {
  opacity: 1;
}
.footer{
  float: left;
  width: 100%;
  height: 10rem;
  background: #6c6c6c;
}
.footer .left{
  float: left;
  width: 50%;
}
.footer .left ul li a{
  text-decoration: none;
  color: #fe0cc2;
}
.footer .left ul li a:hover{
  color: #f5e81b;
}
.footer .left ul li{
  list-style-type: none;
  text-align: center;
  margin: 1rem 0rem; 
}
.footer .right{
  float: left;
  width: 50%;
}
.footer .right ul li{
  list-style-type: none;
  text-align: center;
  margin:1rem 0rem;
}
.footer .right ul li a{
  text-decoration:none;
  color: #fe0cc2;
}
.footer .right ul li a:hover{
  color: #f5e81b;
}
.footer .right .icon-contact .Facebook:before{
  content: '\f230';
  font-family: fontAwesome;
  position: relative;
}
.footer .right .icon-contact .Facebook:hover{
  color: #0000ff;
}
.footer .right .icon-contact .Instagram:before{
  content: '\f16d';
  font-family: fontAwesome;
  position: relative;
}
.footer .right .icon-contact .Instagram:hover{
  color: #ff0000;
}
.footer .right .icon-contact .Twitter:before{
  content: '\f081';
  font-family: fontAwesome;
  position: relative;
}
.footer .right .icon-contact .Twitter:hover{
  color: #00fffc;
}
.footer .right .icon-contact .Youtube:before{
  content: '\f16a';
  font-family: fontAwesome;
  position: relative;
}
.footer .right .icon-contact .Youtube:hover{
  color: #ff0000;
}
@media (max-width: 850px){
  header{
    padding: 0 1rem;
  }
  .menu-toggle{
    display: block;
  }
  header nav{
    position: absolute;
    width: 100%;
    height: calc(100vh - 2.5);
    background: #794848;
    top: 5rem;
    left: -100%;
    transition: 1s;
  }
  header nav.active{
    left: 0;
  }
  header nav ul{
    display: block;
    text-align: center;
  }
  header nav ul li a{
    border-bottom: 0.1rem solid rgba(0,0,0,.2)
  }
  header nav ul li.active ul{
    position: relative;
    background: #455f79;
  }
  header nav ul li ul li{
    width: 100%;
    border: none;
    right: 1.5rem;
  }
  header nav ul li ul li a{
    width: 100%;
    border: none;
  }
  header nav ul li:hover ul{
    width: 100%;
    color: #fb2131;
  }
  /* Caption text */
.text {
  color: #f2f2f2;
  width: 100%;
  text-align: center;
  margin-top: -2rem;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  margin-top: 1rem;
  padding-left: 1rem;
  }
  .search-container input[type=text]:hover{
  width: 15rem;
  transition: 1s;
  }
  .overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  }
    .responsive{
        width: 50%;
        margin: 6px 0;
        padding: 0 1rem;
      }
}